[Unit]
Description=SPI RTSP Stream Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/home/blueberrygay/Desktop/project_for_pi/spi_rtsp_stream/spi_rtsp
WorkingDirectory=/home/blueberrygay/Desktop/project_for_pi/spi_rtsp_stream
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
