[Unit]
Description=SPI Master Communication
After=multi-user.target

[Service]
ExecStart=/home/blueberrygay/Desktop/project_for_pi/spi_master_comm/spi_test
Restart=always
User=root

[Install]
WantedBy=multi-user.target
